img {
    height: 150px;
    width: 250px;

    
}

.padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #bcbbbc solid;
    border-radius: 6px;
    padding: 5px;
    max-width: 70%;
    height: 90%;
    background-color: #47b5d0;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}